/*ヘッダー部分*/

#logo{
background-image:url(img/toplogo.png);
background-repeat:no-repeat ;
width:848px;
height:399px;
margin-left:1px;
margin-top:0px;
text-indent:-9999px;
}

#pan{
margin-left:10px;
margin-top:-20px;
font-size:90%;
height:20px;
}

/*コンテンツ（pageと共有）*/
#content_wrap{
background-color:#FFFFFF;
width:848px;
margin-left:1px;


}

#main_wrap{
float:left;
width:585px;
margin-left:20px;
margin-top:10px;
}

.title {
font-size:160%;
color:#000000;
}

.text{
margin-top:2px;
font-size:115%;
color:#000000;
margin-bottom:10px;
}

#sidebarWrapper{
float:right;
width:205px;
margin-right:25px;
margin-top:15px;
margin-bottom:10px;
padding-right;
}
	
#sidebar{
width:205px;
margin-top:15px;
margin-bottom:10px;
font-size:120%;
color:#000000;
line-height:2.0;
padding-left:5px;
border: 1px #666666 solid;
}

#menu_back{
background-color:#999999;
width:200px;
height:30px;
margin-left:0px;
margin-top:5px;
}

/*
#menu_back{
background-image:url(./img/sidebar_back.png);
width:200px;
height:30px;
margin-left:0px;
margin-top:5px;
}
*/

#menu_text{
margin-left:10px;
color:#000000;
}

#sidebar_text{
margin-left:9px;
}
#sidebar_text a:link { 
color: #444444;
text-decoration: none;
 }
#sidebar_text a:visited { 
color: #444444;
text-decoration: none;
 }
#sidebar_text a:hover { 
color: #444444;
text-decoration: none;
 }
#sidebar_text a:active { 
color: #444444; 
text-decoration: none;
}

/*ここでaddClipsをいじって！！
***********************************/
#addClips{
margin-left:0;
}

#clear{
clear:both;
}

#pan a{
color:#FFCC00;
text-decoration: none;
}