body  {
  color: #4c4c4c;
  background-image: url("http://ll.jus.or.jp/2008/images/ll_back2.gif");
  background-repeat: repeat-y;
  background-position: center;
  margin: 0px auto; 
  width: 800px; 
  padding-top: 0pt;
  }

#body {
  width: 800px;
}

a:link {
   text-decoration: none;
   color: #f86600;
    }
a:visited {
   text-decoration: none;
   color: #f86600;
    }
a:active {
   text-decoration: none;
   color: #f8a91e;
    }
a:hover {
   text-decoration: none;
   color: #f8a91e;
    }

img {
    border-style:none;
}

h1 {
  padding:0;
  margin:0;
}

#top h2 {
  text-align: center;
 font-size:14px;
 position:relative;
 top:-7px;
 letter-spacing: 2px;
 padding-bottom: 7px;
}

#oldtop h2 {
  text-align: center;
 font-size:14px;
 position:relative;
 top:-7px;
 letter-spacing: 2px;
 padding-bottom: 7px;
}

#newtop h2 {
  text-align: center;
 font-size:14px;
 position:relative;
 top:-7px;
 letter-spacing: 2px;
 padding-bottom: 7px;
}

#h2top {
  display:none;
}
#h2oldtop {
  display:none;
}
#h2newtop {
  display:none;
}

#contents_body h3 {
border-left: 10px solid #6edcc8;
border-bottom: 1px solid #6edcc8;
margin-top: 28px;
padding-left: 4px;
position:relative;
left: -9px;
width: 450px;
}

#contents_body h3.entrytitle {
border: 0;
margin-top: 0;
margin-left: 6px;
display:inline;
}

#contents_body h4 {
border-left: 8px solid #6edcc8;
border-bottom: 2px dotted #6edcc8;
margin-top: 14px;
padding-left: 2px;
position: relative;
left: -4px;
width: 400px;
}

#contents_body h5 {
border-left: 4px solid #6edcc8;
margin-top: 7px;
padding-left:1px;
}
#right h3 {
  padding: 7px 0 0 22px;
}

#main  {
   background-color: #ffffff;
   width: 800px;
   padding-left: 0px;
   padding-top: 0px;
 }

#left {
   width : 579px;
   text-align : left;
   padding-left: 0px;
   padding-top: 0px;
   float: left;
 }

#breadcrumbs {
  font-size:12px;
  padding-left: 15px;
/*
  position:relative;
  top:5px;
*/
}

#breadcrumbs a:link {
   text-decoration: none;
   color: #666666;
    }
#breadcrumbs a:visited {
   text-decoration: none;
   color: #666666;
    }
#breadcrumbs a:active {
   text-decoration: none;
   color: #f8a91e;
    }
#breadcrumbs a:hover {
   text-decoration: none;
   color: #f8a91e;
    }

#contents{
padding-top: 0px;
padding-left: 10px;
font-size: 12px;
line-height: 22px;
  position:relative;
  top: -48px;
}

#contents_title{
 background-image: url("images/line_contents.jpg");
 background-repeat: no-repeat;
 background-position: center bottom;
 padding-bottom: 1px;
}

#contents_body {
 padding-left: 25px;
 }

td{
font-size: 9pt;
}

#right {
   width : 221px;
   text-align : left;
   float: right;
 }
 
 #right_header{
   background-image: url("images/right_header.jpg"); 
   width : 221px;
   height: 111px;
   padding: 0em;
 }
 
 #sidebar{
 font-size: 12px;
 width: 221px;
 padding-top:0px;
 margin-top:0px;
 line-height: 18px;
 }
 
#right  li.dropmenu {
  background-image: url("http://ll.jus.or.jp/2008/images/sidebar_top.jpg"); 
  list-style:none;
  margin: 0px auto;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

#right ul {
margin:0px;
padding-left:30px;
}

#sidebar ul li.dropmenu ul li ul {
  padding-left:25px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#right ul.win_mac{
  background-image: url("http://ll.jus.or.jp/2008/images/sidebar_news.jpg");
  background-repeat: no-repeat; 
  margin: 0px auto;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 5px;
  padding-bottom: 10px;
  list-style:none;
margin:0px;
}

#right ul.blog{
  background-image: url("http://ll.jus.or.jp/2008/images/sidebar_sponsor.jpg");
  margin: 0px auto;
  list-style:none;
  margin: 0px auto;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 5px;
  padding-bottom: 10px;
margin:0px;
}


#right ul.menu{
  background-image: url("http://ll.jus.or.jp/2008/images/sidebar_sponsor.jpg");
  margin: 0px auto;
  list-style:none;
  margin: 0px auto;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 5px;
  padding-bottom: 10px;
margin:0px;
}


#right ul.search{
  background-image: url("http://ll.jus.or.jp/2008/images/sidebar_sponsor.jpg");
  margin: 0px auto;
  list-style:none;
  margin: 0px auto;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 5px;
  padding-bottom: 10px;
margin:0px;
}

#right ul.bookmark{
  background-image: url("http://ll.jus.or.jp/2008/images/sidebar_sponsor.jpg");
  margin: 0px auto;
  list-style:none;
  margin: 0px auto;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 5px;
  padding-bottom: 10px;
margin:0px;
}

#right ul.sponsor{
  background-image: url("http://ll.jus.or.jp/2008/images/sidebar_sponsor.jpg");
  margin: 0px auto;
  list-style:none;
  margin: 0px auto;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 5px;
  padding-bottom: 10px;
margin:0px;
}

#right ul.history{
  background-image: url("http://ll.jus.or.jp/2008/images/sidebar_sponsor.jpg");
  margin: 0px auto;
  list-style:none;
  margin: 0px auto;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 5px;
  padding-bottom: 10px;
margin:0px;
}

#right li {
list-style-type:none;
list-style-position:outside;
}

#right li.active{
  list-style:none;
  padding:0px 0px;
}

#right li{
  list-style:none;
  padding:0px 0px;
}

.navigation {
  width: 540px;
}

.blog_title{
 font-size: 15px;
 width: 520px;
}

div.entrytitle{
 font-weight: bold;
 padding-left: 8px;
 float: left;
}

.right_date {
  padding-left: 4em;
  font-size: small;
  float: right;
}

.categori{
 text-align: right;
 padding: 0.5em;
}
.blog_honbun{
 padding:0.5em;
 font-size: 13px;
 line-height: 22px;
}
.blog_writter{
 text-align: right;
 padding: 0.5em;
}

.comment_title{
 background-image: url("images/line_contents.jpg");
 background-repeat: no-repeat;
 background-position: center top;
 font-size: 15px;
 padding-top:20px;
}
.comment_form{
padding: 0.5em;
}

.page{
 background-image: url("images/line_contents.jpg");
 background-repeat: no-repeat;
 background-position: center top;
 font-size: 13px;
 padding-top: 0.5em;
 padding-bottom: 0.5em;
 padding-left: 200px;
}

.post {
  padding-top:20px;
}

#footer  {
 background-color: #ffffff; 
 width: 800px;
 }
 
 .footer_text {
  font-size: 10px;
  padding-top: 7px;
  padding-bottom: 10px;
 }
 
 
 /* 以下blog関連 by akano */
 
 .storycontent {
  padding-left: 20px;
  padding-top: 0px;
 }
 .feedback {
  padding-left: 20px;
}
.blogh2 {
  font-size: small;
  vertical-align:text-top;
}

.blogh2 a:link {
   text-decoration: none;
   color: #666666;
    }
.blogh2 a:visited {
   text-decoration: none;
   color: #666666;
    }
.blogh2 a:active {
   text-decoration: none;
   color: #f8a91e;
    }
.blogh2 a:hover {
   text-decoration: none;
   color: #f8a91e;
    }
    
#blogspace a:link {
   text-decoration: none;
   color: #666666;
    }
#blogspace a:visited {
   text-decoration: none;
   color: #666666;
    }
#blogspace a:active {
   text-decoration: none;
   color: #f8a91e;
    }
#blogspace a:hover {
   text-decoration: none;
   color: #f8a91e;
    }
    
#blogspace div.storycontent a:link {
   text-decoration: none;
   color: #f86600;
    }
#blogspace div.storycontent a:visited {
   text-decoration: none;
   color: #f86600;
    }
#blogspace div.storycontent a:active {
   text-decoration: none;
   color: #f8a91e;
    }
#blogspace div.storycontent a:hover {
   text-decoration: none;
   color: #f8a91e;
    }

#blogspace div.storycontent a.more-link:link {
   text-decoration: none;
   color: #666666;
    }
#blogspace div.storycontent a.more-link:visited {
   text-decoration: none;
   color: #666666;
    }
#blogspace div.storycontent a.more-link:active {
   text-decoration: none;
   color: #f8a91e;
    }
#blogspace div.storycontent a.more-link:hover {
   text-decoration: none;
   color: #f8a91e;
    }
    
#commentlist {
  padding-left: 50px;
  width: 480px;
}

#commentlist li {
  padding-top: 15px;
  border-bottom: 1px #6edcc8 dotted; 
}
#commentlist li .meta {
  padding-left: 20px;
  margin: 0 20px 5px 10px;
  background-color: eeeeee;
}

.AS_ajax_highlight {
background-color:#ff3;
color:#330;
}

.ajaxSearch_highlight {
background-color:#ff3;
color:#330;
}