@charset"EUC-JP";

/* begin screen media  */

@media screen{
/* ------------------------------ General Styles ------------------------------ */
body{
width:90%;
margin:0;
padding:0 5%;
line-height:150%;
color:#2A2A2A;
background-color:#b0c4de;
font-family:sans-serif;
font-size:75%;
}

h1{
margin:0;
padding:1em 1em 0 32%;
font-size:130%;
color:#00519A;
}

h2{
margin:0;
padding:0.5em 1em 0.5em 1em;
background-color:#F8F8FF;
border:solid 1px #e6e6fa;
color:#4169E1;
font-size:140%;
}

h3{
margin:0;
padding:0.5em 1em 0.5em 1em;
background-color:#fff;
color:#6495ed;
font-size:130%;
}

h4{
margin:0;
padding:0.5em 1em 0.5em 1em;
background-color:#fff
border-bottom:solid 1px #dcdcdc;
color:#696969;
font-size:120%;
}

h5{
margin:0;
padding:0.5em 1em 0.3em 2em;
background-color:#fff;
color:#87cefa;
font-size:100%;
}

p{
margin:0;
padding:1em 2em 1em 2em;
}

.hiddenStructure{
display:none;
background: transparent;
border: none;
height: 1px;
overflow: hidden;
padding: 0;
margin: -1px 0 0 -1px;
width: 1px;
}

/* ------------------------------ Content Styles ------------------------------ */
#contentWrapper{
margin:0;
padding:0;
width:100%;
background-color:#fff;
border-left:solid 1px #DCDCDC;
border-right:solid 1px #DCDCDC;	
}

#headerContentWrapper{
background-image: url(images/headBackground.gif);
background-position:right;
background-repeat:repeat-y;
display:block;
}

#headerContent{
margin:0;
padding:0;
background-image: url(images/llw_logo.gif);
background-position: top left;
background-repeat: no-repeat;
display:block;
}

#headerContent p{
padding-left:33%;
display:block;
}

#rightContent{
margin:0;
padding:0;
width:68%;
float:right;
}

#leftContent{
margin:0;
padding:0;
width:28%;
background-color:#fff;
}

#footerContent{
margin:0;
padding:0;
width:100%;
clear:both;
text-align:center;
background-color:#f5f5f5;
color:#cococo;
border-top:solid 1px #dcdcdc;
}

#footerContent p{
margin:0;
padding:1em 0 1em 0 ;
}

/* ------------------------------ Box Styles ------------------------------ */
.newsContentBox{
margin:0;
padding:0;
}

.newsContentBox li{
margin:0 2em 0 0;
padding:0;
}

.infoContentBox{
margin:0;
padding:0 0 0 1em;
}

.infoContentBox li{
margin:0 2em 0 0;
padding:0;
}

.programContentBox{
margin:0;
padding:0 1em 1em 1em;
}

.programContentBox h1{
margin:1em 0 0 0;
padding:1em 1em 0 0;
font-size:150%;
color:#00519A;
text-align:center;
clear:both;
}

.programContentBox h2{
margin:1em;
padding:1em 1em 1em 52px;
font-size:140%;
background-image: url(images/llw_logo_s.gif);
background-position: top left;
background-repeat: no-repeat;
clear:both;
display:block;
}

.programContentBox h3{
margin:1em;
padding:0;
display:block;
clear:both;
border-bottom:solid 2px #e6e6fa;
}

.programContentBox ul{
margin:0 1em 1em 1.5em;
padding:1em;
background-color:#FBFBFF;
border:solid 1px #ECF3FF;
}

.programContentBox li{
margin:0.5em 0.5em 0.5em 1.5em;
}

.programContentBox p{
margin:0 1em 1em 1.5em;
padding:1em;
background-color:#FBFBFF;
border:solid 1px #ECECFF;
}

.programContentBox table{
margin:0 1em 1em 1.5em;
padding:1em;
background-color:#FFF;
border:none;
}

.programContentBox th{
background-color:#FBFBFF;
border:solid 1px #ECECFF;
padding:0.3em;
white-space:nowrap;
}

.programContentBox td{
background-color:#FBFDFF;
border:solid 1px #ECF3FF;
padding:0.3em;
}

.programContentBox .summary{
padding-top:0;
background-color:#FFFFFF;
border:none;
}

.time{
margin:0 1em 0 0;
padding:1em;
background-color:#fff;
#border:solid 1px #e6e6fa;
border: none
}

.supportContentBox{
margin:0;
padding:0;
}

.supportContentBox img{
border:none;
padding:0 0 0.5em 0;
}

.supportContentBox ul{
margin:0; 
list-style-position:inside;
list-style-type:none;
}

.alertList{
padding:1em; 
list-style-image:url(images/alert.gif);
}

.instructionList{
padding:1em; 
list-style-image:url(images/instruction.gif);
}

.defaultList{
padding:1em;  
list-style-image:none;
list-style-type: circle;
}

}
/* end screen media  */

/* begin print media  */
/* ------------------------------ Print Styles ------------------------------ */

@media print{

body{
font-size:10pt;
line-height:150%;
font-family:ºÙÌÀÄ«ÂÎ,"£Í£Ó £ÐÌÀÄ«",serif;
}

h1,h2,h3,h4,h5{
font-weight:normal;
font-family:Osaka,"£Í£Ó £Ð¥´¥·¥Ã¥¯",sans-serif;
}

h1{
font-size:150%;
}

h2{
font-size:140%;
border:solid 1px;
}

h3{
font-size:130%;
border-bottom:solid 1px;
}

h4{
font-size:120%;
border-left:solid 3px;
border-bottom:solid 1px;
}

h5{
font-size:100%;
}

a:after {
font:9pt sans-serif;
content: " [ " attr(href) " ] ";
}

p{
margin:0;
padding:1em 2em 1em 2em;
}

.supportContentBox ul {
list-style-position:inside;
list-style-type:none;
}

table,td,th{
padding:0.3em;
border:solid 1px;
}

}
/* end print media  */